<:Title>
  About

<:Body>
  <h1>About</h1>
  <br>
  <p>
    {{ about }}
  </p>
  <hr>
  <h4>volt-highcharts-app</h4>
  <ul>
    <a href="https://github.com/balmoral/volt-highcharts-app">github.com/balmoral/volt-highchart-app</a>
  </ul>
  <hr>
  <h4>volt-highcharts</h4>
  <ul>
    <a href="https://github.com/balmoral/volt-highcharts">github.com/balmoral/volt-highcharts</a>
    <br>
    <a href="http://rubygems.org/gems/volt-highcharts">rubygems.org/gems/volt-highcharts</a>
  </ul>
  <hr>
  <h4>opal-highcharts</h4>
  <ul>
    <a href="https://github.com/balmoral/opal-highcharts">github.com/balmoral/opal-highcharts</a>
    <br>
    <a href="http://rubygems.org/gems/opal-highcharts">rubygems.org/gems/opal-highcharts</a>
  </ul>
